<div class="wrap">

  <div class="headline">
    <p class="headlinetext">About Toilet Report</p>
  </div>
  <div class="picture"> <!-- picture claas, bliver kun brugt til at finde positionen for teksten-->
    <p class="breadtext">Denne app er lavet for at kunne indrapportere et offentligt/tilgængeligt toilet. <br><br>

      Appen Benytter Telefonens GPS, for at finde GPS koordinater, på din nuværende position.<br><br>
      
      Toiletter der bliver indrapporteret med denne app, kan findes ved hjælp af appen "toilet finder"<br>
       
      </p>
  </div>

  <div class="button2">
    <button (click)="GoToHome()">Back</button>
  </div>

</div>