/* You can add global styles to this file, and also import other style files */

p.headlinetext {
    width: 281px;
    height: 38px;
    font-family: Roboto-Light;
    font-size: 29px;
    text-align: center;
    color:      #808080;
}

span.nobreak {
    white-space: nowrap;
    text-align: left;
    font-family: Roboto-Light;
    font-size: 15px;
    color: #808080;
}

p.breadtext {
    text-align: left;
    font-family: Roboto-Light;
    font-size: 15px;
    color: #808080;
}

h2.breadtext {
    text-align: left;
    font-family: Roboto-Light;
    font-size: 15px;
    
    color: #808080;
}

h1 {
    width: 281px;
    height: 61px;
    font-family: Roboto-Light;
    font-size: 29px;
    text-align: center;
    color: #808080;
}

div.wrap {
    position: relative;
    width: 360px;
    height: 640px;
    border: 0px solid red;
}

div.headline {
    position: absolute;
    top: 5%;
    left: 20px;
    right: 20px;
    border: 0px solid blue;
} 

div.picture {
    position: absolute;
    top: 20%;
    left: 20px;
    right: 20px;
    border: 0px solid green;
} 

div.radiobutton {
    position: absolute;
    top: 35%;
    left: 55px;
    right: 55px;

}

div.button1 {
    position: absolute;
    bottom: 80px;
    left: 55px;
    right: 55px;
    border: 0px solid green;
} 
div.button2 {
    align-content: center;
    position: absolute;
    bottom: 20px;
    left: 55px;
    right: 55px;
    border: 0px solid green;
} 

button {
    width: 241px;
    height: 46px;
    font-family: Roboto-Light;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #08AE9E;
    border: 0px solid #08AE9E;
    border-radius: 2px;
    box-shadow: 0px 3px 4px 0px #A0A0A0;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../src/assets/fonts/Roboto-Light.ttf');
}
