/* You can add global styles to this file, and also import other style files */

h1 {
    width: 281px;
    height: 61px;
    font-family: Roboto-Light;
    font-size: 29px;
    text-align: center;
    color: #808080;
}

button {
    width: 241px;
    height: 46px;
    font-family: Roboto-Light;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #08AE9E;
    border: 0px solid #08AE9E;
    border-radius: 2px;
    box-shadow: 0px 3px 4px 0px #A0A0A0;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../src/assets/fonts/Roboto-Light.ttf');
}
