    p {
        text-align: center;
        font-family: Roboto-light;
        font-size: 29px;
    }
    
    div.wrap {
        position: relative;
        width: 360px;
        height: 640px;
        border: 0px solid red;
    }
    
    div.headline {
        position: absolute;
        top: 5%;
        left: 20px;
        right: 20px;
        border: 0px solid blue;
    } 
    
    div.picture {
        position: absolute;
        top: 20%;
        left: 20px;
        right: 20px;
        border: 0px solid green;
    } 
    div.button1 {
        position: absolute;
        bottom: 80px;
        left: 55px;
        right: 55px;
        border: 0px solid green;
    } 
    div.button2 {
        align-content: center;
        position: absolute;
        bottom: 20px;
        left: 55px;
        right: 55px;
        border: 0px solid green;
    } 